# Run all checks except those

[MESSAGES CONTROL]
enable=all
disable=missing-docstring

# Black compatible

[FORMAT]
max-line-length=88

# No reports, please

[MASTER]
persistent=no
[REPORTS]
reports=no
score=no
